.Header {
    height: 50px;
    background-color: #002984;
    display: flex;
    align-items: center;
}

.Title {
    color: white;
    margin-left: 1rem !important;
    margin-right: 1.5rem !important;
}

.FolderIcon {
color: #fff;
}

#dxf_parser {
    display: none;
}

.FileInfoDiv, .CoordSys {
    width: 200px;
    background-color: #fff;
    height: 70%;
    border-radius: 5px;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
}

#CoordSys {
    text-align: center;
}

.btnDiv {
    margin: 0 0.5em 0 0;
}